// Typograpghy
$sora : 'Sora', sans-serif;;
$Mont : 'Montserrat', sans-serif;
$Unbound : 'Unbounded', cursive;

// Colors
$primary-color : #eceff1;
$secondary-color : #e6e6e6;
$accent-color : #2962ff;
$white-color : #fafafa;
$black-color : #232323;