@import "variables";
@import "mixin";
@import "components";
@import "common";
@import "./pages/components";

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $sora;
}

body {
        background-color: $primary-color;
}

header, main {
        @include window;
}